// typography
$text-color-sd:hsla(230, 35%, 7%, 1);
$text-color-md:hsla(231, 79%, 90%, 1);
$text-color-wk:hsla(0, 0%, 100%, 1);

$background: hsla(230, 35%, 7%, 1);

$font-weights: ("regular": 200, "medium":400, "bold":600);