//  font-families : barlow, barlow condensed, beellefair 

@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&family=Barlow:wght@100&family=Bellefair&family=Poppins:wght@100&display=swap'); //bellefair

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$font-families: ("barlow": 'Barlow', "barlowC":'Barlow Condensed', "bellefair":'    Bellefair');

@function ff($font-family) {
    @return map-get($font-families, $font-family);
}

@mixin bg-img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@mixin ff($font-family) {
    font-family: '$font-family', sans-serif;
}

// typography
$text-color-sd:hsla(230, 35%, 7%, 1);
$text-color-md:hsla(231, 79%, 90%, 1);
$text-color-wk:hsla(0, 0%, 100%, 1);

$background: hsla(230, 35%, 7%, 1);

$font-weights: ("regular": 200, "medium":400, "bold":600);

@function weights($font-weight) {
    @return map-get($font-weights, $font-weight)
}