.crew {
    background-image: url('../bg-images/background-crew-mobile.jpg');
    @include bg-img;
    @include dimension(.3fr, 1fr);//.3fr 1fr
    justify-items: center;
    &>p {
        @include sub-header;
        .number {
            @include number;
        }
    }
    .body {
        @include body;
        .photo-container {
            width: 327px;
            height: 223px;
            border-bottom: 1px solid $text-color-md;
            .photo {
                object-fit: contain;
                width: 100%;
                height: 100%;
            }
        }
        .info {
            @include info;//-100px

            .btn-container {
                display: grid;
                grid-template-columns: repeat(4, auto);
                width: 86px;

                .btn {
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    opacity: 0.17;
                    transition: all 0.5s ease;
                    cursor: pointer;

                    &.active {
                        opacity: 1;
                    }
                }
            }

            article {
                align-self: start;
                display: grid;
                grid-gap: 10px;

                p {
                    text-align: center;
                }

                p:nth-child(1) {
                    font-family: ff(bellefair), sans-serif;
                    font-weight: weights(medium);
                    font-size: 16px;
                    text-align: center;
                    text-transform: uppercase;
                    opacity: 0.17;
                    letter-spacing: .05cm;
                }

                p:nth-child(2) {
                    text-transform: uppercase;
                    font-size: 24px;
                    font-family: ff(bellefair), sans-serif;
                    font-weight: weights(medium);
                }

                p:nth-child(3) {
                    font-family: ff(barlow), sans-serif;
                    font-weight: weight(medium);
                    line-height: 25px;
                    font-size: 15px;
                    color: $text-color-md;
                }
            }
        }
    }
}

//Tablet design
@include media-md {
    .crew {
        background-image: url('../bg-images/background-crew-tablet.jpg');

        &>p {
            top: 35px;
            justify-self: start;        
        .body {
            grid-template-areas: "info""photo-container";
            grid-row-gap: 20px;
            .photo-container {
                grid-area: photo-container;
                border-bottom: 1px solid transparent;
                height: 572px;
                width: 100%;
            }
            .info {
                grid-area: info;      
                grid-template-areas: "article""btn-container";
                .btn-container {
                    grid-area: btn-container;
                }
                article {
                    height: auto;
                    width: 500px;
                    grid-area: article;

                    p:nth-child(1) {
                        opacity: 0.5;
                    }

                    p:nth-child(2) {
                        font-size: 40px;
                    }

                    p:nth-child(3) {
                        text-transform: justify;
                        line-height: 27.5px;
                    }
                }
            }
        }
    }
}

//responsiveness on desktop
@include media-lg {
    .crew {
        background-image: url('../bg-images/background-crew-desktop.jpg');
        padding-inline: 140px;
        // &>p {
        //     border:1px solid red;
        //     position: relative;
        //     left: 10.5vw;
        //     top: 70px;
        // }

        .body {
            grid-template-columns: auto auto;
            grid-template-areas: "info photo-container";
            width: 80vw;       
            .photo-container {
                grid-area:photo-container;
                width: 50vw;
                height: 450px;
                border-bottom:1px solid transparent;
            }

            .info {
                grid-area:info;
                grid-template-areas: "article" "btn-container";
                width: 37vw;
                .btn-container {
                    grid-area:btn-container;
                    justify-self: start;
                }

                article {
                    grid-area:article;
                    text-align: left;
                    justify-self: center;
                    align-self: center;

                    p:nth-child(1) {
                        text-align: left;
                    }

                    p {
                        text-align: left;
                    }
                }
            }
        }
    }
}
}