.destination {
    @include dimension(.3fr, 1.5fr);
    background-image: url('../bg-images/background-destination-mobile.jpg');
    @include bg-img;
    justify-items: center;

    &>p {
        @include sub-header;

        .number {
            @include number;
        }
    }

    .body {
        @include body;
        .photo-container {
            width: 170px;
            height: 170px;
            .photo {
                object-fit: contain;
                width: 100%;
                height: 100%;
            }
        }

        .info {
            @include info(-50px);
            color: $text-color-wk;
            padding: 0 20px;

            ul {
                width: 80vw;
                display: grid;
                place-items: center;
                grid-template-columns: repeat(4, auto);

                .name {
                    text-transform: uppercase;
                    letter-spacing: 2.36px;
                    font-size: 14px;
                    font-family: ff(barlowC), sans-serif;
                    cursor: pointer;
                    padding-bottom: 5px;
                    color: $text-color-md;

                    //functionality class
                    &.underline {
                        border-bottom: 3px solid $text-color-wk;
                    }
                }
            }

            article {
                text-align: center;

                p:nth-child(1) {
                    font-family: ff(bellefair), sans-serif;
                    font-size: 56px;
                    text-transform: uppercase;
                    transition: all 0.5s ease;
                    color: $text-color-wk;
                }

                p:nth-child(2) {
                    border-bottom: 1px solid $text-color-wk;
                    padding-bottom: 20px;
                }

                p {
                    font-family: ff(barlow), sans-serif;
                    font-size: 15px;
                    position: relative;
                    top: 8px;
                    line-height: 1.5;
                    letter-spacing: 0.02cm;
                    color: $text-color-md;
                }
            }

            footer {
                display: grid;
                grid-template-rows: auto auto;
                grid-row-gap: 20px;
                text-transform: uppercase;

                .distance p:nth-child(2),
                .travel p:nth-child(2) {
                    font-size: 28px;
                    font-family: ff(bellefair), sans-serif;
                    color: $text-color-wk;
                }

                .distance,
                .travel {
                    font-family: ff(barlowC), sans-serif;
                    line-height: 1.3;
                    font-size: 14px;
                    letter-spacing: 2.36px;
                    color: $text-color-md;
                }
            }
        }
    }
}

//Tablet design

@include media-md {
    .destination {
        background-image: url('../bg-images/background-destination-tablet.jpg');
        padding-inline: 30px;

        &>p {
            top: 35px;
            justify-self: start;
        }

        .body {
            .photo-container {
                height: 200px;
                width: 200px;
            }

            .info {
                padding-inline: 50px;

                ul {
                    width: 40vw;
                }
                footer {
                    padding-top: 20px;
                    grid-template-columns: auto auto;
                    grid-column-gap: 100px;
                }
            }
        }
    }
}

//Desktop design
@include media-lg {
    .destination {
        background-image: url('../bg-images/background-destination-desktop.jpg');

        &>p {
            position: relative;
            left: 15vw;
            top: 70px;
        }

        .body {
            grid-template-columns: .8fr .4fr;
            align-self: end;
            width: 100vw;
            .photo-container {
                width: 50vw;
            }
            .info {
                ul {
                    justify-items: start;
                }

                article {
                    width: 100%;
                    text-align: left;

                    p:nth-child(1) {
                        font-size: 100px;
                    }

                    p:nth-child(2) {
                        width: 444px;
                        padding-bottom: 40px;
                    }
                }
                footer {
                    justify-self: start;
                }
            }
        }
    }
}