.home {
    background-image: url('../bg-images/background-home-mobile.jpg');
    @include bg-img;
    @include dimension(1fr, .5fr);
    // padding: 0 20px;
    ;

    .desc {
        width: 327px;
        text-align: center;
        line-height: 1.5;
        align-self: center;
        justify-self: center;

        p:nth-child(1),
        p:nth-child(2) {
            text-transform: uppercase;
            letter-spacing: .07cm;
            text-align: center;
        }

        p:nth-child(1) {
            font-family: ff(barlowC), sans-serif;
            color: $text-color-md;
        }

        p:nth-child(2) {
            font-family: ff(bellefair), serif;
            font-size: 80px;
        }

        p:nth-child(3) {
            font-family: ff(barlow), sans-serif;
            color: $text-color-md;
        }
    }

    .explore {
        display: grid;
        place-items: center;
        width: 150px;
        height: 150px;
        align-self: start;
        justify-self: center;
        border-radius: 50%;
        background: $text-color-wk;
        color: $text-color-sd;

        p {
            text-transform: uppercase;
            font-family: ff(bellefair), sans-serif;
            letter-spacing: .07cm;
            font-size: 20px;
        }
    }
}

//Tablet design
@include media-md {
    .home {
        background-image: url('../bg-images/background-home-tablet.jpg');
        grid-template-rows: 1.3fr .5fr;

        .desc {

            p:nth-child(2) {
                font-size: 100px;
            }
        }

        .explore {
            width: 170px;
            height: 170px;
        }
    }
}

//desktop design
@include media-lg {
    .home {
        background-image: url('../bg-images/background-home-desktop.jpg');
        grid-template-columns: auto auto;

        .desc {
            align-self: end;
            position: relative;
            top: 50px;
            text-align:left;
            p:nth-child(1),p:nth-child(2){
                text-align:left;
            }
        }

        .explore {
            align-self: end;
            position: relative;

            &:hover::before {
                content: '';
                background-color:$text-color-wk;
                position: absolute;
                width: 300px;
                height: 300px;
                opacity:0.1;
                cursor: pointer;
                border-radius: 50%;
                transition:all 1s ease;
                mix-blend-mode: normal;
            }
        }
    }
}