header {
  position: absolute;
  display: grid;
  grid-template-columns: auto auto;
  width: 100%;
  top: 0;
  padding: 0 20px;

  .img-logo {
    width: 40px;
    height: 40px;
    margin-top: 25px;
  }

  .btn-container {
    justify-self: end;
    align-self: center;
   
    .open-nav {
      @include btn-transparent;
      margin-top: 25px;

      .bars {
        @include icons-typography;
      }
    }
  }
}

.aside {

  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 9999;
  transform: translateY(-100%);
  transition: transform 0.5s linear;

  &.show-links {
    transform: translateY(0);
  }

  .nav {
    position: relative;
    left: 35px;
    transform: skewX(-12deg);
    width: 770px;
    height: 100%;
    background: rgba(70, 17, 59, 0.04);
    backdrop-filter: blur(81.5485px);
  }
}

.close-nav {
  position:relative;
  left:50vw;
  transform: skewX(12deg);
  // left: 230px;
  // top: 33px;
  margin-top:25px;
  @include btn-transparent;
  .times {
    @include icons-typography;
  }
}

ul.nav-links {
  text-transform: uppercase;
  transform: skewX(12deg);
  position: absolute;
  height: 35vh;
  width: 40vw;
  top: 100px;
  left: 100px;
  line-height: 3.5;

  li {
    transform: translateX(100vw);
    transition:transform 0.5s ease-in;
    &.open {
      transform: translateX(0);
    }

    .link {
      color: $text-color-wk;
      font-family: ff(barlowC), sans-serif;
      letter-spacing: 2.7px;
      font-weight: weights(medium);
      font-size: 16px;

      .number {
        @include number;
      }
    }

  }

}
@for $i from 1 through 4 {
 .nav-links li:nth-child(#{$i}) {
    transition-delay: ($i * 0.1s) + 0.15s;
  }
}


//Tablet design
@include media-md {
  header {
    height: 85px;

    .btn-container {
      display: none;
    }

    .aside {
      top: 0;
      transform: translateY(0);
      height: inherit;

      .nav {
        height: inherit;
        transform: skewX(0);
        display: grid;
        backdrop-filter: blur(0);
        background: transparent;

        .close-nav {
          display: none;
        }

        ul {
          // backdrop-filter: blur(81.5485px);
          transform: skewX(0);
          width: 50vw;
          left: 45vw;
          top: 0;
          background-color: rgba(70, 17, 59, 0.04);
          padding-inline: 10px;
          place-items: center;
          display: grid;
          grid-template-columns: repeat(4, auto);
          height: 85px;


          li {
            transform:translateX(0);
            .number {
              display: none;
            }
          }
        }
      }
    }
  }
}

// LOL, too much nesting, ikr
// desktop design