.technology {
    background-image: url('../bg-images/background-technology-mobile.jpg');
    @include bg-img;
    @include dimension(.3fr, 1fr);
    justify-items: center;

    &>p {
        @include sub-header;

        .number {
            @include number;
        }
    }

    .body {
        @include body;

        .photo-container {
            width: 375px;
            height: 170px;

            .photo {
                object-fit: contain;
                width: 100%;
                height: 100%;
            }
        }

        .info {
            @include info(-50px);

            .btn-container {
                display: grid;
                grid-template-columns: repeat(3, auto);
                width: 152px;
                grid-gap: 10px;

                .btn {
                    border-radius: 50%;
                    height: 40px;
                    color: $text-color-wk;
                    width: 40px;
                    background-color: transparent;
                    border: 1px solid $text-color-md;
                    font-family: ff(bellefair), sans-serif;

                    &.active {
                        color: $text-color-sd;
                        background-color: $text-color-wk;
                    }
                }
            }

            article {
                display: grid;
                grid-gap: 20px;
                text-align: center;

                p:nth-child(1) {
                    text-transform: uppercase;
                    font-family: ff(barlowC), sans-serif;
                    color: $text-color-md;
                    letter-spacing: .08cm;
                }

                p:nth-child(2) {
                    text-transform: uppercase;
                    font-size: 24px;
                    font-family: ff(bellefair), sans-serif;
                    color: $text-color-wk;
                }

                p:nth-child(3) {
                    padding-inline: 15px;
                    color: $text-color-md;
                    line-height: 25px;
                    font-family: ff(barlow), sans-serif;
                    font-size: 15px;
                    letter-spacing: .05px;
                }
            }
        }
    }
}

//Tablet design
@include media-md {
    .technology {
        background-image: url('../bg-images/background-technology-tablet.jpg');

        &>p {
            left: 25px;
            top: 35px;
            justify-self: start;
        }

        .body {
            .photo-container {
                width: 768px;
                height: 310px;
            }

            .info {
                width: 50vw;
            }
        }
    }
}

//on desktop
@include media-lg {
    .technology {
        background-image: url('../bg-images/background-technology-desktop.jpg');

        &>p {
            position: relative;
            left: 5.5vw;
            top: 70px;
        }

        .body {
            grid-template-columns: auto auto;
            grid-template-areas: "info photo-container";
            width: 100%;

            .photo-container {
                grid-area: photo-container;
                width: 515px;
                height: 100%;
                justify-self: end;

                .photo {
                    object-fit: cover;
                    ;
                }
            }

            .info {
                top: 0;
                grid-template-areas: "btn-container article";
                // width:50%;
                grid-area: info;

                // width:45vw;
                align-self: center;

                .btn-container {
                    grid-area: btn-container;
                    grid-template-rows: repeat(3, auto);
                    grid-template-columns: auto;

                    height: 100%;
                    width: fit-content;
                    align-items: center;
                }

                article {

                    width: 470px;
                    grid-area: article;

                    p {
                        text-align: left;
                    }

                    p:nth-child(3) {
                        padding: 0;
                    }
                }
            }
        }
    }
}